<p>Resource is <span>the perfect and cozy place</span> where you can enjoy a variety of
  hot beverages,
  relax, catch up with friends, or get some work done.</p>
<div class="flex foto-wrapper center gap-3">

  <div class="left-col flex flex-col gap-3">
    <div class="upper-img rounded-3xl"></div>
    <div class="down-img rounded-3xl"></div>
  </div>
  <div class="right-col flex flex-col-reverse gap-3">
    <div class="upper-img two rounded-3xl"></div>
    <div class="down-img two rounded-3xl"></div>
  </div>

</div>