@import "assets/variables.scss";
:host {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 40px;
  & h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: $dark-color;
    text-align: center;
    & span {
      font-style: italic;
      color: $accent-color;
    }
  }
  & input {
    appearance: none;
  }
}

.menu-options__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  //width: 115px;
  height: 46px;
  border-radius: 100px;
  background-color: $body-color;
  color: $dark-color;
  border: 1px solid $container-color;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  @include linkbutton-text();
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $border-light-color;
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 2px black);
  }

  &.tea-option {
    &::before {
      background-image: url("../../../assets/icons/tea-opt.png");
    }
  }
  &.coffee-option {
    &::before {
      background-image: url("../../../assets/icons/coffee-opt.png");
    }
  }
  &.dessert-option {
    &::before {
      background-image: url("../../../assets/icons/dessert-opt.png");
    }
  }

  &.checked {
    background-color: $container-color;
    color: $body-color;

    &::before {
      background-color: $body-color;
    }
  }
}
