<div class="offer-block">
  <h3><span>Download</span> our apps to start ordering</h3>
  <p>Download the Resource app today and experience the comfort
    of ordering your favorite coffee from wherever you are</p>
  <div class="flex align-middle gap-4 btns-container">
    <div class="available-on">
      <img src="assets/icons/apple-icon.png" alt="Apple store">
      <p>Available on the</p>
      <p>App Store</p>
    </div>
    <div class="available-on">
      <img src="assets/icons/google-icon.png" alt="Google play">
      <p>Available on the</p>
      <p>Google Play</p>
    </div>
  </div>
</div>
<div class="image"></div>